* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #000; 
    color: #e5e5e5;
}


.navbar {
    width: 100%;
    padding: 15px 60px;
    background: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo-circle {
    background: #1f3d5c;
    color: #4db8ff;
    padding: 8px 13px;
    border-radius: 50%;
    font-weight: 700;
    margin-right: 8px;
}

.logo-text {
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(90deg, #4db8ff, #ffa45c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav a {
    margin-right: 25px;
    text-decoration: none;
    color: #ccc;
    font-weight: 500;
}

nav a:hover {
    color: #4db8ff;
}


.login-btn, .signup-btn {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.login-btn {
    background: transparent;
    color: #ddd;
}

.login-btn:hover {
    color: #4db8ff;
}

.signup-btn {
    background: #ff7a50;
    color: white;
}


.hero {
    text-align: center;
    padding: 100px 20px 70px;
}

.hero-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}
.hero-title span {
    background: linear-gradient(90deg, #ff855c, #36d1c4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-subtitle {
    font-size: 18px;
    color: #bbb;
    margin-top: 15px;
    line-height: 1.6;
}

.hero-buttons {
    margin-top: 30px;
}

.primary-btn, .secondary-btn {
    padding: 12px 26px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    font-weight: 600;
}

.primary-btn {
    background: linear-gradient(90deg, #009dff, #ff7a50);
    color: white;
}

.secondary-btn {
    background: transparent;
    border: 1px solid #777;
    color: #ddd;
}

.secondary-btn:hover {
    border-color: #fff;
}


.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    padding-bottom: 80px;
}

.stat-card {
    width: 220px;
    background: #111;
    padding: 30px 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.05);
    border: 1px solid #222;
}

.stat-card .icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.stat-card h2 {
    font-size: 26px;
    font-weight: 700;
    color: #36d1c4;
}

.stat-card p {
    margin-top: 6px;
    font-size: 15px;
    color: #aaa;
}